@import "tailwindcss";
@tailwind utilities;

/* button colors */
:root {
  --btn-active: #0b5394;
  --btn-edit: #6f94c7;
}

.ck.ck-editor__editable_inline {
  max-width: 100%;
  min-height: 200px;
  margin: 0 auto;
}
/* buttons */
.login-btn {
  @apply w-full px-4 py-2 rounded-lg font-semibold transition-all bg-[#4D34E9] text-white cursor-pointer active:scale-95;
}

.logout-btn {
  @apply w-full px-4 py-2 rounded-lg font-semibold transition-all bg-[#b23b3b] text-white cursor-pointer active:scale-95;
}

.grid-active-btn {
  @apply w-full px-4 py-2 rounded-lg font-semibold transition-all bg-[#0b5394] text-white cursor-pointer active:scale-95;
}

.grid-edit-btn {
  @apply w-full px-4 py-2 rounded-lg font-semibold transition-all bg-[#9891ae] text-white cursor-pointer active:scale-95;
}

.grid-map-user-btn {
  @apply w-full px-4 py-2 rounded-lg font-semibold transition-all bg-[#840000] text-white cursor-pointer active:scale-95;
}

.addNew-btn {
  @apply px-2  py-2 flex flex-row gap-1 items-center rounded-lg font-semibold transition-all bg-[#0b5394] text-white cursor-pointer active:scale-95;
}

/* login component */
.login-input-field {
  @apply w-full px-3 py-2 sm:py-2 md:py-2 text-sm sm:text-base rounded-lg outline-none bg-transparent  text-gray-800  placeholder:text-gray-400 placeholder:opacity-70 focus:bg-transparent autofill:bg-transparent;
}
.input-field-error {
  @apply text-sm text-red-500;
}

.welcome {
  @apply text-indigo-600 font-medium;
}

.forgot-btn {
  @apply text-indigo-600 hover:underline text-sm font-semibold cursor-pointer;
}

/* signup */
.signup-input-field {
  @apply px-4 py-2 border border-gray-300 rounded-lg focus:ring-indigo-500 focus:border-indigo-500 outline-none transition;
}

/* buttons */
.add-tabPan-btn {
  @apply mt-6 h-[38px] px-3 bg-blue-500 text-white rounded-lg  hover:bg-blue-600 active:scale-95 flex items-center justify-center;
}
.submit-btn {
  @apply text-white font-medium bg-[#1e6da1] hover:bg-blue-600 active:scale-95 m-2 w-full px-4 py-2 rounded-lg  transition-all flex items-center justify-center gap-2;
}
.cancel-btn {
  @apply text-white font-medium bg-gray-400 hover:bg-gray-600 active:scale-95 w-full px-4 py-2 m-2 rounded-lg  transition-all flex items-center justify-center gap-2;
}
.close-drawer-btn {
  @apply text-gray-600 hover:text-black text-3xl leading-none;
}
.btn-not-allowed {
  @apply bg-gray-400 cursor-not-allowed;
}

/* header theme */
.header-bg {
  @apply bg-[#0b5394];
}
.branch-box {
  /* @apply w-full sm:w-40 md:w-60
  bg-linear-to-br from-blue-300 to-purple-400
  my-2
  px-2 sm:px-3
  py-1.5 sm:py-2
  text-xs sm:text-sm md:text-lg
  italic
  rounded-lg
  text-gray-700
  text-center
  border border-gray-300
  truncate
  focus:outline-none
  focus:ring-2
  focus:ring-indigo-400; */
  @apply sm:w-40 md:w-60
  bg-linear-to-br from-blue-300 to-purple-400
  my-2
  px-3 sm:px-4
  py-2
  text-xs sm:text-sm md:text-lg
  italic
  rounded-xl
  text-gray-800
  text-center
  truncate

  /* EMBEDDED EFFECT */
  border border-[#083e6f]
  shadow-inner
  ring-1 ring-white/20

  focus:outline-none;
}

/* page header */
.ph-button-theme {
  @apply rounded border border-gray-200 bg-white text-gray-700 hover:bg-gray-200 active:scale-90;
}
.data-downlaod-popup-btn {
  @apply w-full text-left px-1 py-1 mb-1 rounded bg-gray-100 hover:bg-gray-200 active:scale-95 transition-all;
}
.btn-popup {
  @apply fixed z-50 p-2 bg-white 
    rounded shadow-lg border 
    max-h-80 overflow-auto
    w-max min-w-fit max-w-xs;
}
.downlaod-text {
  @apply text-sm font-semibold mb-2 text-gray-800;
}

/* pagination */
.btn-disable {
  @apply rounded border bg-gray-200 text-gray-400 cursor-not-allowed;
}
.btn-active {
  @apply rounded border bg-[#0b5394] text-white hover:bg-blue-600  active:scale-95;
}
.pagination-select {
  @apply border border-gray-300 rounded  text-sm;
}
.pagination-text {
  @apply text-gray-700;
}

/* every component page size  */
.master-page-size {
  @apply flex-1 w-full min-h-screen bg-gray-50 -mt-4 -mx-4;
}

/* initial loading message of every master pages when loading true*/
.initial-message {
  @apply text-center text-gray-500 py-8 text-lg pt-16;
}

.no-data-message {
  @apply text-center text-gray-500 py-8 text-lg;
}

/*  all  drawer */
.drawer-close-btn {
  @apply text-gray-600  m-2  hover:text-black text-4xl leading-none;
}
.drawer-bg {
  @apply bg-gray-100;
}
.drawer-title-border {
  @apply flex justify-between items-center p-2 border-b;
}
.drawer-title {
  @apply text-lg font-semibold text-gray-800;
}

/* custom input field */
.input-field {
  @apply w-full px-4 py-2 border border-gray-400 rounded-lg bg-white placeholder:text-gray-500 placeholder:opacity-60 focus:ring-indigo-500 focus:border-indigo-500 outline-none transition;
}
.input-field-error {
  @apply text-red-600 text-sm mt-1;
}

/* user group master styles */
.item-border {
  @apply border border-gray-200 p-2 mb-2 rounded bg-gray-50 text-sm cursor-move hover:bg-gray-100;
}
.box-border {
  @apply border border-gray-300 rounded-lg p-3 w-full md:w-1/2 max-h-[420px] overflow-y-auto;
}
.heading-text {
  @apply font-semibold mb-2 text-gray-700;
}
.no-user-text {
  @apply text-gray-500 text-sm;
}

/* card view */
.card-status {
  @apply font-semibold text-xs px-3 py-1 rounded;
}
.active {
  @apply text-green-700 bg-green-100;
}
.inactive {
  @apply text-red-600 bg-red-100;
}
.card-icon {
  @apply text-gray-700;
}
.card-id {
  @apply text-gray-500 text-sm mt-2;
}
.card-title {
  @apply text-lg font-bold text-gray-800 text-center;
}
.footer-label {
  @apply text-gray-500 text-xs;
}
.footer-value {
  @apply text-gray-800 text-sm font-medium;
}
.footer-border {
  @apply border border-gray-300 rounded-md mt-3 p-2;
}

/* user authorization */
.select-border {
  @apply border border-gray-300 w-full box-border py-2 px-3 rounded-lg text-base sm:text-lg focus:ring-blue-400;
}

.right-buttons {
  @apply border border-gray-300 p-2 m-2 rounded-lg bg-gray-100 hover:bg-gray-200 active:scale-95;
}

.table-header-button {
  @apply border border-gray-300 px-4 py-2 m-2 rounded-lg hover:bg-blue-400;
}

/* header-footer */
.file-upload {
  @apply w-full text-sm text-gray-600 file:mr-4 file:py-2 file:px-4 file:rounded-md  file:border-0 file:text-sm file:font-semibold file:bg-indigo-50 file:text-indigo-700 hover:file:bg-indigo-100 cursor-pointer border border-gray-300 rounded-md focus:outline-none focus:ring-1 focus:ring-indigo-500;
}
